.emailImg{
    border-radius: 50%;

}

.linkedinImg{
    border-radius: 50%;
}

.githubImg{
    border-radius: 50%;
}

.settings{
    border-radius: 50%;
}

.modes{
    border-radius: 50%;
}

.emailImg2, .phoneImg, .cityImg{
    border-radius: 50%;
    height: 5vh;
}


.fas{
    border-radius: 50%;
}



